---
layout: default
image: 220908_2.jpg
title: Network Science Lab @ CUK
description: Official website of the Network Science Lab at the Catholic University of Korea (NS Lab@CUK)
---
{% include hero.html %}

<div class="container">
	<div class="row">
		<div class="col col-12">
			{% if site.posts.size > 0 %}
				<h4 class="lates-title">Latest Posts</h4>
			{% endif %}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
	{% if site.posts.size > 0 %}
		{% for post in paginator.posts %}
			{% include article-content.html %}
		{% endfor %}
	{% endif %}
	</div>
</div>
{% include pagination.html %}  
