---
layout: default
image: 220908_2.jpg
title: AI Digital Twin Lab at DongA University, Busan, Korea
description: Official Website of the AI Digital Twin Lab at Dong-A University (AIDT Lab@DAU), South Korea. Explore cutting-edge research in artificial intelligence, digital twins, and advanced data analytics, fostering innovation across industries.
---
{% include hero.html %}

<div class="container">
	<div class="row">
		<div class="col col-12">
			{% if site.posts.size > 0 %}
				<h4 class="lates-title">Latest Posts</h4>
			{% endif %}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
	{% if site.posts.size > 0 %}
		{% for post in paginator.posts %}
			{% include article-content.html %}
		{% endfor %}
	{% endif %}
	</div>
</div>
{% include pagination.html %}  
