<head>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords" content="AIDT Lab, AI Digital Twin Lab, Dong A University, DAU, AIDT-DAU, Digital Twin lab DAU, Artificial Intelligence Digital Twin Lab, AIDT lab DAU, Dong-A University AIDT Lab, AIDTLab DAU GitHub, AIDTLab Dong-A University website, AIDTLab Digital Twin technology, AI Digital Twin Lab Dong-A University">
  <!-- <title>
    {% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.title
    }}{% endif %}
  </title>
  <meta
    name="description"
    content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.data.settings.description }}{% endif %}"
  /> -->

  <link 
    rel="icon"
    type="image/png"
    href="{{ site.baseurl }}/favicon.png"
   />
  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | absolute_url }}"
  />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  <!-- Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:400,700"
    rel="stylesheet"
  />
  <!-- Ionicons -->
  <link
    href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css"
    rel="stylesheet"
  />

  <meta
    name="naver-site-verification"
    content="cdaed59602f2a77dec19c7bf1ff2d6dc8a703ca5"
  />

  {% if page.image %}
  <meta content="{{ site.url }}/images/{{ page.image }}" property="og:image" />
  <meta
    content="{{ site.url }}/images/{{ page.image }}"
    property="twitter:image"
  />
  {% else %}
  <meta content="{{ site.url }}/images/Logo_Square.png" property="og:image" />
  <meta
    content="{{ site.url }}/images/Logo_Square.png"
    property="twitter:image"
  />
  {% endif %} {% seo %}

  <meta name="creator" content="AIDT Lab@DAU" />
  <meta name="publisher" content="AIDT Lab@DAU" />
  <meta content="{{ site.url }}/2022/02/26/intro/" property="article:author" />

  {% if page.categories %} {% for category in page.categories limit:1 %}
  <meta content="{{ category }}" property="article:section" />
  {% endfor %} {% endif %} {% if page.tags %} {% for tag in page.tags %}
  <meta content="{{ tag }}" property="article:tag" />
  {% endfor %} {% endif %}

  <style>
    {% capture include_to_scssify %}
    {% include main.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>
</head>
