---
layout: default
---

<div class="news-section">
  <div class="container">
    <div class="news-list">
      {% for post in news_posts %}
      <div class="news-card">
        <div class="news-card__image">
          {% if post.image %}
            <img src="{{ site.baseurl }}/images/{{ post.image }}" alt="{{ post.title }}">
          {% else %}
            <div class="news-card__no-image"></div>
          {% endif %}
        </div>
        <div class="news-card__content">
          <div class="news-card__meta">
            <span class="news-card__tag">NEWS</span>
            <span class="news-card__date">{{ post.date | date: '%B %d, %Y' }}</span>
          </div>
          <h2 class="news-card__title">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <p class="news-card__excerpt">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncate: 185 }}{% endif %}</p>
          <a href="{{ post.url | prepend: site.baseurl }}" class="news-card__read-more">KEEP READING &gt;</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

